<div class="container-fluid">
    <div class="row" style="padding:15px">
        <app-drawing-tools-header
            (static-template)="addStatic()"
            (single-inheritance-template)="addSingleInterface()"
            (generic-micro-service-template)="addGenericMicroService()"
            (java-micro-service-template)="addJavaMicroService()"
            (input-value)="addInputTemplate()"
            (shape-circle)="addCircle()"
            (shape-diamond)="addDiamond()"
            (shape-triangle)="addTriangle()"
            (shape-square)="addSquare()"
            (shape-label)="addLabel()"
            (zoom-in)="zoomPlus()"
            (zoom-out)="zoomMinus()"
            (save)="saveModel()"
            (cancel)="cancelModel()"
            (verify)="onVerify()"></app-drawing-tools-header>
    </div>

    <div class="row">
        <!--
        <table class="table table-bordered">
            <tr class="section_title">
                <td colspan="2">Model Properties</td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" class="property_value"  [(ngModel)]="modelTitle"></td>
            </tr>
        </table>
        -->

        <div class="form-inline" style="padding-bottom: 10px; padding-left: 15px">
            <div class="form-group">
                <label for="">Title</label>
                <input type="text" class="form-control" [(ngModel)]="modelTitle">
            </div>
        </div>
        
        <div id="container" class="col-md-12" >
            <div class="box drawing-area" >
                <ko-stage [config]="configStage">
                    <ko-layer>
                    </ko-layer>
                </ko-stage>
            </div>

            <div class="col-md-3 right_box" >
                <div class="properties_box" *ngIf="selectedTemplate != null">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#component_properties">Component</a></li>
                        <li><a data-toggle="tab" href="#interfaces" *ngIf="canAddInterface()">Interfaces &nbsp;<fa name="plus" data-toggle="modal" data-target="#myModal" class="add_button pull-right" (click)="addInterface()"></fa></a></li>
                        <li><a data-toggle="tab" href="#visual_properties">Visual</a></li>
                    </ul>
                    <div class="tab-content">

                        <!-- component properties -->
                        <div id="component_properties" class="tab-pane fade in active">
                            <table class="table table-bordered">                
                                <tr class="section_title">
                                    <td colspan="2">Component Properties<fa name="plus" class="add_button pull-right" (click)="onAddComponentProperty()"></fa></td>
                                </tr>
                                <tr>
                                    <td class="table_column">Template</td>
                                    <td class="table_column">{{selectedTemplate.getType()}}</td>
                                </tr>
                                <tr>
                                    <td class="table_column">Name</td>
                                    <td class="table_column"><input type="text" class="property_value" [(ngModel)]="selectedTemplate.name"></td>
                                </tr>

                                <tr *ngFor="let prop of selectedTemplate.modelComponentPropertiesList; let propertyIndex = index">
                                    <td class="table_column"><input type="text" class="property_value" [(ngModel)]="prop.name" ></td>
                                    <td class="table_column">
                                        <input type="text" class="custom_property_value" [(ngModel)]="prop.value" >
                                        <fa name="times" (click)="onDeleteComponentProperty(i,  propertyIndex)" class="delete_property"></fa>
                                    </td>
                                </tr>
                            </table>

                        </div>

                        <!-- interfaces -->
                        <div id="interfaces" class="tab-pane fade">
                            <div class="no-interfaces-message" *ngIf="selectedTemplate.interfaces.length == 0">
                                No Interfaces added
                            </div>
                            <table class="table table-bordered" *ngFor="let intf of selectedTemplate.interfaces; let i = index">                

                                <tr class="section_title">
                                    <td colspan="2">
                                        Interface - {{intf.name}} 
                                        <div class="pull-right">
                                            <fa name="plus" class="add_button" (click)="onAddProperty(i)"></fa>&nbsp;&nbsp;
                                            <fa name="times" class="add_button" (click)="onDelete(i)"></fa>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <table class="table table-bordered">
                                            <tr>
                                                <td class="table_column">Name:</td>
                                                <td class="table_column"><input type="text" class="property_value" [(ngModel)]="intf.name" ></td>
                                            </tr>
                                            <tr>
                                                <td class="table_column">Latency:</td>
                                                <td class="table_column"><input type="text" class="property_value" [(ngModel)]="intf.latency" ></td>
                                            </tr>
                                            <tr *ngFor="let prop of intf.properties; let propertyIndex = index">
                                                <td class="table_column"><input type="text" class="property_value" [(ngModel)]="prop.name" ></td>
                                                <td class="table_column">
                                                    <input type="text" class="custom_property_value" [(ngModel)]="prop.value" >
                                                    <fa name="times" (click)="onDeleteProperty(i,  propertyIndex)" class="delete_property"></fa>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>


                        <!-- visaul properties -->
                        <div id="visual_properties" class="table tab-pane fade">
                            <table  class="table table-bordered">
                                <tr class="section_title">
                                    <td colspan="2">Visual Properties</td>
                                </tr>
                                <tr>
                                    <td>x</td>
                                    <td>{{getComponentX()}}</td>
                                </tr>
                                <tr>
                                    <td>y</td>
                                    <td>{{getComponentY()}}</td>
                                </tr>
                                <tr>
                                    <td>width</td>
                                    <td>{{getComponentWidth()}} px</td>
                                </tr>
                                <tr>
                                    <td>height</td>
                                    <td>{{getComponentHeight()}} px</td>
                                </tr>
                                <tr>
                                    <td>color</td>
                                    <td>{{getComponentColor()}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div>
                        <button class="btn btn-success" (click)="savePropertyChanges()">Save</button>
                        <button class="btn btn-danger" (click)="cancelPropertyChanges()">Cancel</button>
                        <button class="btn btn-danger" (click)="deleteShape()">Delete</button>
                    </div>
                </div>
                
            
                <div style="padding: 5px;" *ngIf="false">
                    <div class="panel panel-default">
                        <div class="panel-heading" (click)="toggleComponentProperties()">Component Properties</div>
                        <div [class.collapse]="isComponentPropertiesSectionClosed" class="panel-collapse">
                            <div class="panel-body">

                                <div class="row component_property">
                                    <div class="col-md-3">Template:</div>
                                    <div class="col-md-9">{{selectedTemplate.getType()}}</div>
                                </div>
                                
                                <div class="row component_property">
                                    <div class="col-md-3">Name:</div>
                                    <div class="col-md-9"><input type="text" class="component_name" [(ngModel)]="selectedTemplate.name" ></div>
                                </div>

                                <div style="padding: 10px;">
                                    <div class="row">
                                        <div>
                                            <span class="heading">Properties</span>
                                            <fa name="plus" (click)="onAddComponentProperty(i)" class="link pull-right"></fa>
                                        </div>

                                        <div class="row component_property" *ngFor="let prop of selectedTemplate.modelComponentPropertiesList; let propertyIndex = index">
                                            <div class="col-md-3"><input type="text" [(ngModel)]="prop.name" class="component_name" ></div>
                                            <div class="col-md-9">
                                                <input type="text" [(ngModel)]="prop.value" class="component_name" >
                                                <fa name="times" (click)="onDeleteComponentProperty(i,  propertyIndex)" class="link pull-right"></fa>
                                            </div>
                                        </div> 
                                    </div>
                                </div> 
                                
                
                                <div class="row" style="margin: 5px;">
                                    <button class="btn btn-success" (click)="addInterface()" >Add Interface</button>
                                </div>

                                <div class="panel panel-default" style="margin-top:10px" *ngFor="let intf of selectedTemplate.interfaces; let i = index">
                                    <div class="panel-heading">
                                        {{intf.name.length == 0? 'interface' : intf.name}}
                                        <fa name="times" (click)="onDelete(i)" class="link pull-right"></fa>
                                    </div>
                                    <div class="panel-body">
                                        <div style="padding: 10px;">
                                            <div class="row">
                                                <div>
                                                    <span class="heading">Properties</span>
                                                    <fa name="plus" (click)="onAddProperty(i)" class="link pull-right"></fa>
                                                </div>

                                                <div class="row component_property">
                                                    <div class="col-md-3">Name:</div>
                                                    <div class="col-md-9"><input type="text" [(ngModel)]="intf.name" class="component_name" ></div>
                                                </div> 

                                                <div class="row component_property">
                                                    <div class="col-md-3">Latency:</div>
                                                    <div class="col-md-9"><input type="text" [(ngModel)]="intf.latency" class="component_name" ></div>
                                                </div> 

                                                <div class="row component_property" *ngFor="let prop of intf.properties; let propertyIndex = index">
                                                    <div class="col-md-3"><input type="text" [(ngModel)]="prop.name" class="component_name" ></div>
                                                    <div class="col-md-9">
                                                        <input type="text" [(ngModel)]="prop.value" class="component_name" >
                                                        <fa name="times" (click)="onDeleteProperty(i,  propertyIndex)" class="link pull-right"></fa>
                                                    </div>
                                                </div> 
                                            </div>

                                            <div class="row" style="margin-top:10px">
                                                <div>
                                                    <span class="heading">Downstream Interfaces</span>
                                                    <fa name="plus" (click)="onAddDownstreamInterface(i)" class="link pull-right"></fa>
                                                </div>  
                                                <!--<div class="row component_property" *ngFor="let compIntf of intf.downstreamInterfaces">
                                                    <div class="col-md-3">{{compIntf.component}}</div>
                                                    <div class="col-md-9"><input type="text" [(ngModel)]="compIntf.connectedInterface" class="component_name" readonly></div>
                                                </div>-->

                                                <div class="row component_property" *ngFor="let compIntf of intf.downstreamInterfaces; let propertyIndex = index">
                                                    <div class="col-md-12">
                                                        <input type="text" [(ngModel)]="compIntf.component" class="component_name" >
                                                        <fa name="times" (click)="onDeleteDownstreamInterface(i,  propertyIndex)" class="link pull-right"></fa>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <button class="btn btn-success" (click)="savePropertyChanges()">Save</button>
                        <button class="btn btn-danger" (click)="cancelPropertyChanges()">Cancel</button>
                        <button class="btn btn-danger" (click)="deleteShape()">Delete</button>
                    </div>
                    
                    
                </div>
            </div>

            <div class="box connection_maker" *ngIf="showConnectionsDialog" >
                <div class="form connection_dialog">
                    <div class="form-group">
                        <label for="">Source Interface</label>
                        <select [(ngModel)]="connectionSourceInterface" class="form-control">
                            <option [value]="intf.name" *ngFor="let intf of selectedTemplate.interfaces">{{intf.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Target Interface</label>
                        <select [(ngModel)]="connectionTargetInterface" class="form-control">
                            <option [value]="intf.name" *ngFor="let intf of arrowTargetTemplate.interfaces">{{intf.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button (click)="makeConnection()" class="btn btn-success">Connect</button>
                        <button (click)="cancelConnection()" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
