<div class="container-fluid">
    <div class="row" style="padding:15px">
        <app-drawing-tools-header
            (static-template)="addStatic()"
            (single-inheritance-template)="addSingleInterface()"
            (generic-micro-service-template)="addGenericMicroService()"
            (java-micro-service-template)="addJavaMicroService()"
            (ec2-micro-service-template)="addEc2MicroService()"
            (ec2-component-template)="addEc2Component()"
            (input-value)="addInputTemplate()"
            (shape-circle)="addCircle()"
            (shape-diamond)="addDiamond()"
            (shape-triangle)="addTriangle()"
            (shape-square)="addSquare()"
            (shape-label)="addLabel()"
            (zoom-in)="zoomPlus()"
            (zoom-out)="zoomMinus()"
            (save)="saveModel($event)"
            (group)="groupTemplates()"

            (ungroup)="ungroupTemplates()"
            (copy-group)="copyGroup()"
            (delete-group)="deleteGroup()"

            (start-group-selection)="startGroupSelection()"
            (stop-group-selection)="stopGroupSelection()"
            (cancel)="cancelModel()"
            (verify)="saveModel($event)"
            [ungroup-disabled]="selectedGroup == null"
            [copy-group-disabled]="selectedGroup == null"
            [delete-group-disabled]="selectedGroup == null"></app-drawing-tools-header>
    </div>

    <div class="row">
        <!--
        <table class="table table-bordered">
            <tr class="section_title">
                <td colspan="2">Model Properties</td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" class="property_value"  [(ngModel)]="modelTitle"></td>
            </tr>
        </table>
        -->

        <div class="form-inline" style="padding-bottom: 10px; padding-left: 15px">
            <div class="form-group">
                <label for="">Title</label>
                <input type="text" class="form-control" [(ngModel)]="modelTitle">
            </div>
        </div>
        
        <div id="container" class="col-md-12" >
            <div class="box drawing-area" >
                <ko-stage [config]="configStage">
                    <ko-layer>
                    </ko-layer>
                </ko-stage>
            </div>

            <div class="col-md-3 right_box" >
                <div class="properties_box" *ngIf="selectedTemplate != null">

                    <ul class="nav nav-tabs">
                        <li><a [class.active]="selectedTab=='component_properties'" (click)="changeTab('component_properties')">Component</a></li>
                        <li><a [class.active]="selectedTab=='interface_properties'" *ngIf="canAddInterface()" (click)="changeTab('interface_properties')">Interfaces &nbsp;<fa name="plus" data-toggle="modal" data-target="#myModal" class="add_button pull-right" (click)="addInterface()"></fa></a></li>
                        <li><a [class.active]="selectedTab=='visual_properties'" (click)="changeTab('visual_properties')">Visual</a></li>
                    </ul>
                    <hr>
                    <div class="tab-content">

                        <!-- component properties -->
                        <div *ngIf="selectedTab=='component_properties'">
                            <div id="component_properties">
                                <table class="table table-bordered">
                                    <tr class="section_title">
                                        <td colspan="2">Component Properties<fa name="plus" class="add_button pull-right" (click)="onAddComponentProperty()"></fa></td>
                                    </tr>
                                    <tr>
                                        <td class="table_column">Template</td>
                                        <td class="table_column">{{selectedTemplate.getType()}}</td>
                                    </tr>
                                    <tr>
                                        <td class="table_column">Name</td>
                                        <td class="table_column"><input type="text" class="property_value" [(ngModel)]="selectedTemplate.name"></td>
                                    </tr>
                                    <tr *ngIf="selectedTemplate.type == 'Ec2MicroServiceTemplate' || selectedTemplate.type == 'Ec2ComponentTemplate'">
                                        <td class="table_column">Instance Type</td>
                                        <td class="table_column">
                                            <select  class="app-select" [(ngModel)]="selectedTemplate.instanceType" style="width:100%">
                                                <option *ngFor="let type of instanceTypes" [value]="type"> {{type}} </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let prop of selectedTemplate.fixedProperties; let propertyIndex = index">
                                        <td class="table_column">{{prop.name}}</td>
                                        <td class="table_column">
                                            <input type="text" class="property_value" [(ngModel)]="prop.value" >
                                        </td>
                                    </tr>

                                    <tr *ngFor="let prop of selectedTemplate.modelComponentPropertiesList; let propertyIndex = index">
                                        <td class="table_column"><input type="text" class="property_value" [(ngModel)]="prop.name" ></td>
                                        <td class="table_column">
                                            <input type="text" class="custom_property_value" [(ngModel)]="prop.value" >
                                            <fa name="times" (click)="onDeleteComponentProperty(i,  propertyIndex)" class="delete_property"></fa>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>

                        <!-- interfaces -->
                        <div *ngIf="selectedTab == 'interface_properties'">
                            <div id="interface_properties">
                                <div class="no-interfaces-message" *ngIf="selectedTemplate.interfaces.length == 0">
                                    No Interfaces added
                                </div>
                                <table class="table table-bordered" *ngFor="let intf of selectedTemplate.interfaces; let i = index">

                                    <tr class="section_title">
                                        <td colspan="2">
                                            Interface - {{intf.name}}
                                            <div class="pull-right">
                                                <fa name="plus" class="add_button" (click)="onAddProperty(i)"></fa>&nbsp;&nbsp;
                                                <fa name="times" class="add_button" (click)="onDelete(i)"></fa>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <td class="table_column">Name:</td>
                                                    <td class="table_column"><input type="text" class="property_value" [(ngModel)]="intf.name" ></td>
                                                </tr>
                                                <tr>
                                                    <td class="table_column">Latency:</td>
                                                    <td class="table_column"><input type="text" class="property_value" [(ngModel)]="intf.latency" ></td>
                                                </tr>
                                                <tr *ngFor="let prop of intf.properties; let propertyIndex = index">
                                                    <td class="table_column"><input type="text" class="property_value" [(ngModel)]="prop.name" ></td>
                                                    <td class="table_column">
                                                        <input type="text" class="custom_property_value" [(ngModel)]="prop.value" >
                                                        <fa name="times" (click)="onDeleteProperty(i,  propertyIndex)" class="delete_property"></fa>
                                                    </td>
                                                </tr>
                                            </table>
                                            <h4 *ngIf="getDownstreamInterfaces(intf.name).length > 0">Downstream Interfaces:</h4>
                                            <div class="panel-group" id="accordion">
                                                    <div class="panel panel-default" *ngFor="let dsIf of getDownstreamInterfaces(intf.name); let i = index;">
                                                      <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                          <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#ds_' + dsIf.outputInterfaceName + i">
                                                          {{dsIf.outputInterfaceName}}  </a>
                                                        </h4>
                                                      </div>
                                                      <div [attr.id]="'ds_'+ dsIf.outputInterfaceName + i" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            <table class="table table-bordered" *ngIf="dsIf.connectionProperties.length >0 ">
                                                                <tr *ngFor="let prop of dsIf.connectionProperties">
                                                                    <td class="table_column">{{prop.key}}</td>
                                                                    <td class="table_column"><input type="text" class="property_value" [(ngModel)]="prop.value"></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                      </div>
                                                    </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <!-- visaul properties -->
                        <div *ngIf="selectedTab == 'visual_properties'">
                            <div id="visual_properties">
                                <table  class="table table-bordered">
                                    <tr class="section_title">
                                        <td colspan="2">Visual Properties</td>
                                    </tr>
                                    <tr>
                                        <td>x</td>
                                        <td>{{getComponentX()}}</td>
                                    </tr>
                                    <tr>
                                        <td>y</td>
                                        <td>{{getComponentY()}}</td>
                                    </tr>
                                    <tr>
                                        <td>width</td>
                                        <td>{{getComponentWidth()}} px</td>
                                    </tr>
                                    <tr>
                                        <td>height</td>
                                        <td>{{getComponentHeight()}} px</td>
                                    </tr>
                                    <tr>
                                        <td>color</td>
                                        <td>{{getComponentColor()}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button class="btn btn-success" (click)="savePropertyChanges()">Save</button>
                        <button class="btn btn-danger" (click)="cancelPropertyChanges()">Cancel</button>
                        <button class="btn btn-danger" (click)="deleteShape()">Delete</button>
                    </div>
                </div>
                
            
                <div style="padding: 5px;" *ngIf="false">
                    <div class="panel panel-default">
                        <div class="panel-heading" (click)="toggleComponentProperties()">Component Properties</div>
                        <div [class.collapse]="isComponentPropertiesSectionClosed" class="panel-collapse">
                            <div class="panel-body">

                                <div class="row component_property">
                                    <div class="col-md-3">Template:</div>
                                    <div class="col-md-9">{{selectedTemplate.getType()}}</div>
                                </div>
                                
                                <div class="row component_property">
                                    <div class="col-md-3">Name:</div>
                                    <div class="col-md-9"><input type="text" class="component_name" [(ngModel)]="selectedTemplate.name" ></div>
                                </div>

                                <div style="padding: 10px;">
                                    <div class="row">
                                        <div>
                                            <span class="heading">Properties</span>
                                            <fa name="plus" (click)="onAddComponentProperty(i)" class="link pull-right"></fa>
                                        </div>

                                        <div class="row component_property" *ngFor="let prop of selectedTemplate.modelComponentPropertiesList; let propertyIndex = index">
                                            <div class="col-md-3"><input type="text" [(ngModel)]="prop.name" class="component_name" ></div>
                                            <div class="col-md-9">
                                                <input type="text" [(ngModel)]="prop.value" class="component_name" >
                                                <fa name="times" (click)="onDeleteComponentProperty(i,  propertyIndex)" class="link pull-right"></fa>
                                            </div>
                                        </div> 
                                    </div>
                                </div> 
                                
                
                                <div class="row" style="margin: 5px;">
                                    <button class="btn btn-success" (click)="addInterface()" >Add Interface</button>
                                </div>

                                <div class="panel panel-default" style="margin-top:10px" *ngFor="let intf of selectedTemplate.interfaces; let i = index">
                                    <div class="panel-heading">
                                        {{intf.name.length == 0? 'interface' : intf.name}}
                                        <fa name="times" (click)="onDelete(i)" class="link pull-right"></fa>
                                    </div>
                                    <div class="panel-body">
                                        <div style="padding: 10px;">
                                            <div class="row">
                                                <div>
                                                    <span class="heading">Properties</span>
                                                    <fa name="plus" (click)="onAddProperty(i)" class="link pull-right"></fa>
                                                </div>

                                                <div class="row component_property">
                                                    <div class="col-md-3">Name:</div>
                                                    <div class="col-md-9"><input type="text" [(ngModel)]="intf.name" class="component_name" ></div>
                                                </div> 

                                                <div class="row component_property">
                                                    <div class="col-md-3">Latency:</div>
                                                    <div class="col-md-9"><input type="text" [(ngModel)]="intf.latency" class="component_name" ></div>
                                                </div> 

                                                <div class="row component_property" *ngFor="let prop of intf.properties; let propertyIndex = index">
                                                    <div class="col-md-3"><input type="text" [(ngModel)]="prop.name" class="component_name" ></div>
                                                    <div class="col-md-9">
                                                        <input type="text" [(ngModel)]="prop.value" class="component_name" >
                                                        <fa name="times" (click)="onDeleteProperty(i,  propertyIndex)" class="link pull-right"></fa>
                                                    </div>
                                                </div> 
                                            </div>

                                            <div class="row" style="margin-top:10px">
                                                <div>
                                                    <span class="heading">Downstream Interfaces</span>
                                                    <fa name="plus" (click)="onAddDownstreamInterface(i)" class="link pull-right"></fa>
                                                </div>  
                                                <!--<div class="row component_property" *ngFor="let compIntf of intf.downstreamInterfaces">
                                                    <div class="col-md-3">{{compIntf.component}}</div>
                                                    <div class="col-md-9"><input type="text" [(ngModel)]="compIntf.connectedInterface" class="component_name" readonly></div>
                                                </div>-->

                                                <div class="row component_property" *ngFor="let compIntf of intf.downstreamInterfaces; let propertyIndex = index">
                                                    <div class="col-md-12">
                                                        <input type="text" [(ngModel)]="compIntf.component" class="component_name" >
                                                        <fa name="times" (click)="onDeleteDownstreamInterface(i,  propertyIndex)" class="link pull-right"></fa>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <button class="btn btn-success" (click)="savePropertyChanges()">Save</button>
                        <button class="btn btn-danger" (click)="cancelPropertyChanges()">Cancel</button>
                        <button class="btn btn-danger" (click)="deleteShape()">Delete</button>
                    </div>
                    
                    
                </div>
            </div>

            <div class="connection_maker" *ngIf="showConnectionsDialog" >
                <div class="form connection_dialog col-md-3">
                    <div class="form-group">
                        <label for="">{{selectedTemplate.name}}</label>
                    </div>
                    <div class="form-group">
                        <label for="">Select Interface</label>
                        <select [(ngModel)]="connectionSourceInterface" class="form-control">
                            <option [value]="intf.name" *ngFor="let intf of selectedTemplate.interfaces">{{intf.name}}</option>
                        </select>
                    </div>

                    <hr/>

                    <div class="form-group">
                        <label for="">{{arrowTargetTemplate.name}}</label>
                    </div>
                    <div class="form-group">
                        <label for="">Select Interface</label>
                        <select [(ngModel)]="connectionTargetInterface" class="form-control">
                            <option [value]="intf.name" *ngFor="let intf of arrowTargetTemplate.interfaces">{{intf.name}}</option>
                        </select>
                    </div>
                    
                    <hr/>
                    
                    <div class="form-group">
                        <button (click)="makeConnection()" class="btn btn-success">Connect</button>
                        <button (click)="cancelConnection()" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
