.button_shape,
.button_shape:focus {
    display: block;
    border: solid 1px black;
    text-align: left;
    width: 80%;
    outline: 0;
}

.button_zoom,
.button_zoom:focus {
    outline: 0;
}

.box {
    border: solid 1px black;
}

.component_name {
    width: 80%;
}

.component_property {
    margin-top: 5px;
}

.heading {
    font-size: 20px;
    font-style: bold;
}

.drawing-area {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-size: 8px 8px;
    max-height: 500px;
    overflow: scroll;
}

.properties_box {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.section_title {
    background-color: lightgray;
    font-weight: bold;
}

.property_value,
.property_value:focus {
    border: none;
    display: block;
    width: 100%;
    outline: 0;
}

.add_button {
    cursor: pointer;
}

.custom_property_value {
    border: none;
    display: block;
    width: 80%;
    outline: 0;
}

.delete_property {
    position: absolute;
    top: 10px;
    right: 10px;
}

.tab_box {
    border: 1px lightgray solid;
}

.table_column {
    width: 50%;
    position: relative;
}

.no-interfaces-message {
    width: 100%;
    background-color: lightgray;
    text-align: center;
    height: 40px;
    font-weight: bold;
    line-height: 2.5em;
}