<div class="form-group">
    <label for="inputTable">Entries</label>
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <table class="table table-bordered input-group">
                    <tr class="active">
                        <td *ngFor="let col of columns">{{col.key}}</td>
                    </tr>
                    <tr>
                        <td *ngFor="let col of columns; let i = index;">
                            <input 
                                (paste)="valuePasted($event)"
                                [sh-context]="contextMenuItems" 
                                [sh-data-context]="dataContext(i)"
                                type="text" 
                                [id]="i"
                                class="table_input" 
                                [(ngModel)]="col.value">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>