<div class="form-group col-md-4">
    <label for="">Distribution</label>
    <select name="" class="form-control" [(ngModel)]="distributionPresent">
        <option value="1">None</option>
        <option value="2">Gaussian</option>
    </select>
</div>

<div class="form-group col-md-12">
    <label for="inputTable">Entries</label>
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <table class="table table-bordered input-group">
                    <tr>
                        <td class="active">Time</td>
                        <td class="active" *ngFor="let col of columns">{{col.key}}</td>
                    </tr>
                    <tr>
                        <td class="active">Value</td>                        
                        <td *ngFor="let col of columns; let i = index;">
                            <input 
                                (paste)="valuePasted($event)"
                                [sh-context]="contextMenuItems" 
                                [sh-data-context]="dataContext(i)"
                                type="text" 
                                [id]="i"
                                class="table_input" 
                                [(ngModel)]="col.value">
                        </td>
                    </tr>
                    <tr *ngIf="distributionPresent == 2">
                        <td class="active">Std. Deviation</td>
                        <td *ngFor="let col of columns; let i = index;">
                            <input 
                                (paste)="valuePasted($event)"
                                [sh-context]="contextMenuItems" 
                                [sh-data-context]="dataContext(i)"
                                type="text" 
                                [id]="i"
                                class="table_input" 
                                [(ngModel)]="col.stdDeviation">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>