#Tue Apr 18 10:02:18 PDT 2017
Demo=/html/body/iron-component-page/paper-header-panel/paper-toolbar/div[1]/iron-selector/a[2]/span
login=/html/body/div/demo-snippet/div[1]/div/div/span[1]/a
Guest=/html/body/div/demo-snippet/div[1]/div/div/span[2]
usernameonloginpage=/html/body/div/demo-snippet/div[1]/div[1]/div/span[2]
username=iconics1
warning=/html/body/div/demo-snippet/div[1]/dfw-status-dialog/paper-dialog
warningmsg=/html/body/div/demo-snippet/div[1]/dfw-status-dialog/paper-dialog/p
warningclick=/html/body/div/demo-snippet/div[1]/dfw-status-dialog/paper-dialog/div/span
logoutondemo=/html/body/div/demo-snippet/div[1]/div[1]/div/span[1]/a
