<div class="row">
    <div class="form-group col-md-12">
        <label for="">Constant Value</label>
        <input type="number" class="form-control" [(ngModel)]="constValue">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Components</h4>
            </div>
            <div class="panel-body">
                <div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Title</label>
                                <input type="text" [(ngModel)]="title" class="form-control" placeholder="title">
                            </div>                
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Value</label>
                                <input type="text" [(ngModel)]="value" class="form-control" placeholder="value">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">%</label>
                                <input type="text" [(ngModel)]="percentage" class="form-control" placeholder="%">
                            </div>
                        </div>
                    </div>
                    
                    <button class="btn btn-success" (click)="addComponent()">Add</button>
                </div>

                <div class="list">
                    <label class="text-bold">Components</label>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let c of components">
                            <div class="pull-left">
                                <div class="text-bold">{{c.value}} - {{c.title}} ({{c.percentage}}%)</div>
                            </div>
                            <div class="pull-right">
                                <fa name="trash" class="trash" (click)="deleteComponent(c)"></fa>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>