<div class="container-fluid">
    <div class="row">
        <app-header [title]="selectedProject == null ? 'Add Project' : 'Update Project (' + this.title + ')'"></app-header>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{selectedProject == null ? 'Add Project' : 'Update Project (' + this.title + ')'}}</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="">Project Name</label>
                    <input
                        [(ngModel)]="title"
                        type="text"
                        class="form-control"
                        placeholder="project name">
                </div>
                
                <div class="form-group">
                    <label for="">Owner</label>
                    <select placeholder="select owner" class="form-control" [(ngModel)]="owner">
                        <option *ngFor="let user of users" [value]="user.id">{{user.userName}}</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="">Description</label>
                    <textarea
                        [(ngModel)]="description"
                        class="form-control project-description"
                        placeholder="project description"></textarea>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success" (click)="onSave()">Save</button>
                <button class="btn btn-danger" (click)="clearInputs()" >Cancel</button>
            </div>
        </div>
    </div>
</div>
