<div class="container-fluid">
        <div class="row">
            <app-header title="Branches"></app-header>
        </div>
    
        <div class="row">
            <div class="form-group">
                <select (change)="selectBranch($event)" class="app-select" #projectList>
                    <option *ngFor="let project of projects" [value]="project.id"> {{project.title}} </option>
                </select>
                <button class="app-button" (click)="addNewBranch()">NEW BRANCH</button>
            
            </div>

            <table-view 
                (row-edited)="onRowEdit($event)"
                (row-deleted)="onRowDelete($event)"
                [cols]="columns" 
                [rows]="rows"></table-view>
        </div>
    </div>