<div class="container-fluid">
    <div class="row">
        <app-header [title]="'Add branch for project (' + selectedProjectTitle + ')'"></app-header>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{selectedBranch == null ? 'Add Branch' : 'Update Branch'}}</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="">Branch Name</label>
                    <input
                        [(ngModel)]="title"
                        type="text"
                        class="form-control"
                        placeholder="branch name">
                </div>

                <div class="form-group">
                    <label for="">Owner</label>
                    <select [(ngModel)]="owner" class="form-control">
                        <option value="5a0acb19f614371278463062">Owner 1</option>
                        <option value="5a0acb19f614371278463062">Owner 2</option>
                        <option value="5a0acb19f614371278463062">Owner 3</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="">Time Unit</label>
                    <select (change)="onChangeTimeUnit()" class="form-control" [(ngModel)]="timeUnit">
                        <option value="Month">Month</option>
                        <option value="Week">Week</option>
                        <option value="Hour">Hour</option>
                        <option value="Time">Time</option>
                    </select>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Start Time</label>
                            <dp-date-picker 
                                style="display:block; border-radius: 5px; padding: 5px; width: 100%" 
                                class="datePicker" 
                                [(ngModel)]="startDate" 
                                mode="daytime" 
                                [theme]="'dp-material dp-main'"></dp-date-picker>                                
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">End Time</label>
                            <dp-date-picker 
                                style="display:block; border-radius: 5px; padding: 5px;" 
                                class="datePicker" 
                                [(ngModel)]="endDate" 
                                mode="daytime" 
                                [theme]="'dp-material dp-main'"></dp-date-picker>                                
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Actuals Start Time</label>
                            <dp-date-picker 
                                style="display:block; border-radius: 5px; padding: 5px;" 
                                class="datePicker" 
                                mode="daytime" 
                                [(ngModel)]="actualsDate" 
                                [theme]="'dp-material dp-main'"></dp-date-picker>                                
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Description</label>
                    <textarea
                        [(ngModel)]="description"
                        class="form-control branch-description"
                        name="description"
                        placeholder="branch description"></textarea>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success" (click)="onSave()">Save</button>
                <button class="btn btn-danger" (click)="clearInputs()" >Cancel</button>
            </div>
        </div>
    </div>
</div>