<div class="container-fluid">
        <div class="row">
            <app-header title="Branches"></app-header>
        </div>
    
        <div class="row">
            <div class="form-group">
                <select (change)="selectBranch($event)" class="app-select" [(ngModel)]="selectedProject">
                    <option *ngFor="let project of projects" [value]="project.id"> {{project.title}} </option>
                </select>
                <button class="app-button" *ngIf="userRole != null && userRole != 'Read-only'" (click)="addNewBranch()">NEW BRANCH</button>
                <button class="app-button" *ngIf="userRole == null || userRole == 'Read-only'" disabled style="opacity:0.5;">NEW BRANCH</button>
            </div>

            <table-view 
                (row-edited)="onRowEdit($event)"
                (row-deleted)="onRowDelete($event)"
                [cols]="columns" 
                [rows]="rows"></table-view>
        </div>
    </div>