<div class="container-fluid">
    <div class="row">
        <app-header title="Manage Variable"></app-header>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{selectedVariable == null ? 'Add Variable' : 'Update Variable'}}</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" [(ngModel)]="variableName" placeholder="name" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea id="comment" type="text" [(ngModel)]="description" placeholder="description" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Owner</label>
                                <select [(ngModel)]="ownerId" class="form-control">
                                    <option *ngFor="let user of users" [value]="user.id">{{user.userName}}</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Variable Type</label>
                                        <select (change)="onVariableTypeChanged()" [(ngModel)]="variableType" class="form-control">
                                            <option value="forecast">Forecast</option>
                                            <option value="actual">Actual</option>
                                            <option value="breakdown">Breakdown</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Value Type</label>
                                        <select [(ngModel)]="valueType" class="form-control">
                                            <option value="integer">Integer</option>
                                            <option value="real">Real</option>
                                            <option *ngIf="variableType != 'breakdown'" value="discrete">Discrete Random</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="variableType == 'breakdown'">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Subvariable Name</label>
                                        <input type="text" [(ngModel)]="subvariableName" class="form-control" placeholder="subvariable name">
                                    </div>

                                    <div class="form-group">
                                        <label for="">Value</label>
                                        <input type="text" [(ngModel)]="subvariableValue" class="form-control" placeholder="subvariable value">
                                    </div>
                                    
                                    <button class="btn btn-success" (click)="addVariable()">Add</button>
                                    <button class="btn btn-danger" (click)="clearVariable()">Cancel</button>
                                </div>

                                <div class="list" class="col-md-6">
                                    <label class="text-bold">Subvariables</label>
                                    <table class="table" >
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Value</th>
                                                <th></th>
                                            </tr>
                                            <tr *ngFor="let s of subvariableList; let i = index">
                                                <td>{{s.name}}</td>
                                                <td>{{s.value}}</td>
                                                <td>
                                                    <fa name="trash" class="trash" (click)="deleteVariable(i)"></fa>
                                                    <fa name="pencil" class="edit" (click)="editVariable(i)"></fa>
                                                </td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                            <!-- associate breakdown/discrete variables -->
                            <div *ngIf="variableType == 'actual' || variableType == 'forecast'">
                                <div class="form-group">
                                    <label for="">Associate Breakdown Variables</label>
                                    <select (change)="onCompositTypeChanged($event)" [(ngModel)]="compositType" class="form-control">
                                        <option value="none">None</option>
                                        <option value="breakdown">Breakdown</option>
                                        <!-- <option value="discret">Discrete Random</option> -->
                                    </select>
                                </div>
                                <div class="row" *ngIf="compositType != 'none'">
                                    <div class="col-md-12">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>#Sub-Variable</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let varType of compositeVariableList">
                                                    <td>
                                                        <label>
                                                            <input type="checkbox" [checked]="varType.isSelected" (click)="onVariableTypeSelectionChange($event)" [value]="varType.id"> {{varType.title}}
                                                        </label>
                                                    </td>
                                                    <td>{{varType.subVariables.length}}</td>
                                                    <td>{{varType.description}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row time-segment-button">
                        <button class="btn btn-success pull-right" (click)="addTimeSegment()">Add Time Segment</button>
                    </div>

                    <div class="row">
                        <time-segment
                            [branch-id]="branchId"
                            class="col-md-12"
                            *ngFor="let segment of timeSegments"
                            [time-segment]="segment"
                            [value-type]="valueType"
                            [variable-type]="variableType"
                            [composit-variable-type-list]="subvariableList"
                            (delete)="onDeleteSegment()"></time-segment>
                    </div>

                    <div class="row" *ngIf="lineChartData.length > 0">
                        <div style="padding:20px;">
                            <nvd3 [options]="options" [data]="lineChartData"></nvd3>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-success" name="saveAndExit" (click)="onSave($event)">Save and Exit</button>
                    <button class="btn btn-success" name="saveAndRefresh"(click)="onSave($event)">Save and Refresh</button>
                    <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
                    <button class="btn btn-danger" [disabled]="selectedVariable == null"(click)="onDelete()">Delete</button>
                </div>
            </div>

        </div>
    </div>
</div>
