.time-segment-button {
    padding: 15px;
}

#comment {
    resize: none;
    height: 110px;
}

.variable-type-description {
    height: 100px;
    resize: none;
}

.loader {
    width: 30px;
    margin: 10px;
}

.table_input,
.table_input:focus {
    border: none;
    outline: none;
    width: 60px;
}

.table_input,
.table_input:focus {
    border: none;
    outline: none;
    width: 60px;
}

.input-group {
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
}

.list {
    margin-top: 10px;
}

.trash {
    color: red;
    cursor: pointer;
}


.edit {
    color: black;
    cursor: pointer;
}

.warning-msg {
    color: darkred;
    font-size: small;
    /*background: #9d9d9d;*/
}
