
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading" (click)="toggleCollapse()">
            <span class="panel-title">{{startDate == undefined ? 'Time Segment' : startDate.format('MMM-YYYY')}}</span>
            <fa name="times" (click)="onDelete()" class="link pull-right"></fa>
            <fa [name]="isExpanded == true ? 'chevron-up' : 'chevron-down'" (click)="toggleCollapse()" class="link pull-right chevron"></fa>
        </div>
        <div [class.collapse]="!isExpanded" class="panel-collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Starting Time</label>
                                    <div class=' date inputText' id='startDate'>
                                        <dp-date-picker 
                                            [config]="datePickerConfig"
                                            [(ngModel)]="startDate" 
                                            mode="month" 
                                            [theme]="'dp-material dp-main'"></dp-date-picker>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" *ngIf="selectedInputMethod == 'table'">
                                <div class="form-group">
                                    <label for="">End Time</label>
                                    <div class=' date inputText' id='endDate'>
                                        <dp-date-picker 
                                            [config]="datePickerConfig"
                                            [(ngModel)]="endDate" 
                                            mode="month" 
                                            [theme]="'dp-material dp-main'"></dp-date-picker>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group"   *ngIf="selectedInputMethod != 'table'" >
                            <label for="">Comment</label>
                            <textarea name="" [(ngModel)]="comment" id="comment" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row" *ngIf="variableTypeList != undefined && (variableType == 'breakdown')">
                            <table class="table input-group table-bordered">
                                <tr>
                                    <th class="active">Title</th>
                                    <th *ngFor="let subVar of variableTypeListPercentage">{{subVar.name}}</th>
                                </tr>
                                <tr>
                                    <th class="active">Percentage</th>
                                    <td *ngFor="let subVar of variableTypeListPercentage">
                                        <input class="table_input" type="text" placeholder="percentage" [(ngModel)]="subVar.value">
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div *ngIf="variableType == 'variable'">
                            <div *ngIf="valueType != 'discrete'">
                                <div class="form-group">
                                    <label for="">Input Method</label>
                                    <select id="input-method" (change)="changeDates()" [(ngModel)]="selectedInputMethod" class="form-control">
                                        <option value="constant">Constant</option>
                                        <option value="expression">Expression</option>
                                        <option value="table">Input Table</option>
                                        <!-- <option value="breakdown">Breakdown</option>
                                        <option value="discrete">Discrete Random</option> -->
                                    </select>
                                </div>

                                <variable-constant
                                        [time-segment]="timeSegment"
                                        *ngIf="selectedInputMethod == 'constant'"
                                        [branch-id]="branchId"
                                        [input-method]="selectedInputMethod"></variable-constant>

                                <variable-expression
                                        [time-segment]="timeSegment"
                                        *ngIf="selectedInputMethod == 'expression'"
                                        [branch-id]="branchId"
                                        [input-method]="selectedInputMethod"></variable-expression>

                               

                                <variable-breakdown
                                        *ngIf="selectedInputMethod == 'breakdown'"
                                        [branch-id]="branchId"
                                        [time-segment]="timeSegment"></variable-breakdown>

                                <variable-discrete-random
                                        *ngIf="selectedInputMethod == 'discrete'"
                                        [branch-id]="branchId"></variable-discrete-random>
                            </div>


                            <div *ngIf="valueType == 'discrete'">
                                <table class="table input-group table-bordered">
                                    <tr>
                                        <th class="active">Value</th>
                                        <td *ngFor="let subVar of variableTypeList; let i = index">
                                            <div>{{subVar.name}}</div>
                                        </td>
                                        <!-- <th rowspan="2" style="vertical-align: middle">
                                            <fa name="plus" class="button_add" (click)="addDiscreteVariable()"></fa>
                                        </th> -->
                                    </tr>
                                    <tr>
                                        <th class="active">Probability (%)</th>
                                        <td *ngFor="let subVar of variableTypeList">
                                            <input [sh-context]="contextMenuItemsDiscrete" class="table_input" type="text" placeholder="%" [(ngModel)]="subVar.probability">
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
                <div id="row">
                    <div class="form-group"  *ngIf="selectedInputMethod == 'table'" >
                        <label for="">Comment</label>
                        <textarea name="" [(ngModel)]="comment" id="comment" class="form-control"></textarea>
                    </div>
                    <variable-table 
                        id="inputTable"
                        *ngIf="selectedInputMethod == 'table'"
                        [branch-id]="branchId"
                        [variable-type]="variableType"
                        [start-time]="startDate"
                        [end-time]="endDate"
                        [time-segment]="timeSegment" ></variable-table>

                </div>
            </div>
        </div>
    </div>
</div>
