@import '~assets/css/bootstrap-datetimepicker.min.css';

#comment {
    resize: none;
    height: 100px;
}

.panel-heading {
    cursor: pointer;
}

.link {
    cursor: pointer;    
}

.button_add {
    background-color: #5cb85c;
    color: white;
    display: block;
    font-size: 20px;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: solid 1px black;
}

.chevron {
    margin-right: 10px;
}

.table_input,
.table_input:focus {
    border: none;
    outline: none;
    width: 60px;
}

.input-group {
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
}