@import '~assets/css/bootstrap-datetimepicker.min.css';

#comment {
    resize: none;
    height: 100px;
}

.panel-heading {
    cursor: pointer;
}

.link {
    cursor: pointer;    
}

.chevron {
    margin-right: 10px;
}

.table_input,
.table_input:focus {
    border: none;
    outline: none;
    width: 60px;
}

.input-group {
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
}