<div class="container-fluid">
  <div class="row">

      <!-- header bar -->
      <div class="h">
          <nav class="a navbar navbar-default">
              <div class="container-fluid row">
              <div class="navbar-header  col-sm-12 col-lg-12">
                  <button class="navbar-toggle" data-target="#app-menu" data-toggle="collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="./"><img class="hidden-xs" src="assets/images/ids_logo.jpg" alt=""></a>
              </div>
              <div id="app-menu" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                  <ul class="nav navbar-nav">
                      <li class="list">
                          <a
                              (click)="selectedMenu = 'projects'"
                              routerLink="projects"
                              [class.active]="selectedMenu == 'projects'"
                              href="#">Projects</a>
                      </li>
                      <li>
                          <a
                              (click)="selectedMenu = 'branches'"
                              routerLink="branches"
                              [class.active]="selectedMenu == 'branches'"
                              href="#">Branches</a>
                      </li>
                      <li>
                          <a
                              (click)="selectedMenu = 'variables'"
                              routerLink="variables"
                              [class.active]="selectedMenu == 'variables'"
                              href="#">Variables</a>
                      </li>
                      <li>
                          <a
                              (click)="selectedMenu = 'forecast_tabular'"
                              routerLink="forecast_tabular"
                              [class.active]="selectedMenu == 'forecast_tabular'"
                              href="#">Forecast Tabular</a>
                      </li>
                      <li>
                          <a
                              (click)="selectedMenu = 'forecase_graphical'"
                              routerLink="forecast_graphical"
                              [class.active]="selectedMenu == 'forecase_graphical'"
                              href="#">Forecast Graph</a>
                      </li>
                      <li>
                          <a
                              routerLink="data_flow"
                              (click)="selectedMenu = 'data_flow'"
                              [class.active]="selectedMenu == 'data_flow'"
                              href="#">Data Flow</a>
                      </li>
                      <li>
                          <a
                              routerLink="component_model"
                              (click)="selectedMenu = 'component_model'"
                              [class.active]="selectedMenu == 'component_model'"
                              href="#">Component Model</a>
                      </li>
                      <li>
                          <a
                              routerLink="simulation"
                              (click)="selectedMenu = 'simulation'"
                              [class.active]="selectedMenu == 'simulation'"
                              href="#">Simulation</a>
                      </li>
                  </ul>
              </div>
              </div>
          </nav>
      </div>

      <!-- components will be shown here -->
      <div class="components col-sm-9 col-lg-10">
          <router-outlet></router-outlet>
      </div>

  </div>
</div>
