
<div class="container-fluid">
    <div class="row">
        <app-header [title]="selectedVarType == null ? 'Add Variable Type' : 'Update Variable Type (' + this.title + ')'"></app-header>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{selectedVarType == null ? 'Add Variable Type' : 'Update Variable Type (' + this.title + ')'}}</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Variabl Type Title</label>
                        <input
                            [(ngModel)]="title"
                            type="text"
                            class="form-control"
                            placeholder="variable type title">
                    </div>
                    
                    <div class="form-group">
                        <label for="">Variable Type</label>
                        <select placeholder="select type" class="form-control" [(ngModel)]="type">
                            <option value="breakdown">Breakdown</option>
                            <option value="discrete">Discrete</option>
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="">Description</label>
                        <textarea
                            [(ngModel)]="description"
                            class="form-control variable-type-description"
                            placeholder="description"></textarea>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Subvariable Name</label>
                                    <input type="text" [(ngModel)]="subvariableName" class="form-control" placeholder="subvariable name">
                                </div>                
                            </div>
    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Value</label>
                                    <input type="text" [(ngModel)]="subvariableValue" class="form-control" placeholder="subvariable value">
                                </div>
                            </div>
                        </div>
                        
                        <button class="btn btn-success" (click)="addVariable()">Add</button>
                    </div>
    
                    <div class="list">
                        <label class="text-bold">Subvariables</label>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let s of subvariableList">
                                <div class="pull-left">
                                    <label class="text-bold">{{s.name}} ({{s.value}})</label>
                                </div>
                                <div class="pull-right">
                                    <fa name="trash" class="trash" (click)="deleteVariable(s)"></fa>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success" (click)="onSave()">Save</button>
                <button class="btn btn-danger" (click)="clearInputs()" >Cancel</button>
            </div>
        </div>
    </div>
</div>
