<div class="container-fluid">
    <div class="row">
        <app-header title="Settings"></app-header>
    </div>
    <div class="row pull-right" *ngIf="showLocalCheck">
        <input class="form-check-input" type="checkbox" [(ngModel)]="pointToLocalhost" id="pointToLocalhost">
        <label class="form-check-label" for="pointToLocalhost">
            Point to localhost
        </label>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">User Selected Parameteric (Sigma)</label>
                <div class="input-group">
                    <div class="input-group-addon">Sigma</div>
                    <input type="text" class="form-control" [(ngModel)]="sigma">
                </div>
                <span class="help-block">Use comma separated values</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Number of decimal places</label>
                <div class="input-group">
                    <div class="input-group-addon"> Breakdown Variables </div>
                    <input type="text" class="form-control" [(ngModel)]="breakdownDec">
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-addon"> Other Variables </div>
                    <input type="text" class="form-control" [(ngModel)]="otherDec">
                </div>
                <span class="help-block">Enter number of decimals to be displayed</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="commaCheck" id="commaCheck"> 
                    <label class="form-check-label" for="commaCheck">
                        Enable Comma separator
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row admin-views" *ngIf="userRole == 'admin'">
        <table class="table">
            <thead>
                <tr>
                    <th class="headers">Users</th>
                    <th class="headers" *ngFor="let role of roles">{{role.roleName}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.userName}}</td>
                    <td *ngFor="let role of roles">
                        <input type="radio" value="{{role}}" name="{{user.userName}}-role" [checked]="isChecked(user, role)" (click)="setRoles(user, role)">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success" (click)="onSave()">Save and Exit</button>
        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
    </div>
</div>

</div>