<div class="container-fluid">
    <div class="row">
        <app-header title="Settings"></app-header>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">User Selected Parameteric (Sigma)</label>
                <div class="input-group">
                    <div class="input-group-addon">Sigma</div>
                    <input type="text" class="form-control" [(ngModel)]="sigma">
                </div>
                <span class="help-block">Use comma separated values</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Number of decimal places</label>
                <div class="input-group">
                    <div class="input-group-addon"> Breakdown Variables </div>
                    <input type="text" class="form-control" [(ngModel)]="breakdownDec">
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-addon"> Other Variables </div>
                    <input type="text" class="form-control" [(ngModel)]="otherDec">
                </div>
                <span class="help-block">enter number of decimals to be displayed</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="commaCheck" id="commaCheck"> 
                    <label class="form-check-label" for="commaCheck">
                        Enable Comma separator
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success" (click)="onSave()">Save and Exit</button>
            <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</div>