<div class="container-fluid">
    <div class="row">
        <app-header title="Forecast Graphical"></app-header>
    </div>

    <div class="row">
        <div class="form-group">
            <select (change)="selectBranch($event)" class="app-select">
                <option *ngFor="let project of projects" [value]="project.id"> {{project.title}} </option>
            </select>
            <select (change)="selectVariables($event)" class="app-select">
                <option *ngFor="let branch of branches" [value]="branch.id"> {{branch.title}} </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <h4>Visibility</h4>
                <div class="col-md-6">
                    <div>Show Variales</div>
                    <div>
                        <label>
                            <input type="checkbox" (click)="toggleBreakdownVariables($event)" checked> Breakdown
                        </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div>Show Lines for</div>
                    <div>
                        <label>
                            <input type="checkbox" (click)="toggleBreakdownLines($event)" checked> Breakdown
                        </label>
                    </div>

                    <div>
                        <label>
                            <input type="checkbox" (click)="toggleDistributionLines($event)" checked> Distribution
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-top: 10px">
                <h4>Duration</h4>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Start Time</label>
                            <dp-date-picker
                                [config]="datePickerConfig"
                                [(ngModel)]="startDate"
                                mode="month"
                                [theme]="'dp-material dp-main'"></dp-date-picker>
                        </div>
                        <div class="col-md-6">
                            <label>End Time</label>
                            <dp-date-picker
                                [config]="datePickerConfig"
                                [(ngModel)]="endDate"
                                mode="month"
                                [theme]="'dp-material dp-main'"></dp-date-picker>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-12">
                            <button class="btn btn-success" (click)="reloadGraph()">Reload</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="margin-top: 10px">
                <h4>Variables</h4>
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="searchName" (keyup)="filterResult($event, 'name')" class="col-md-4" placeholder="variable name">
                    <input type="text" [(ngModel)]="searchType" (keyup)="filterResult($event, 'type')" class="col-md-4" placeholder="type">
                    <input type="text" [(ngModel)]="searchOwner" (keyup)="filterResult($event, 'owner')" class="col-md-4" placeholder="owner">
                </div>
            </div>

            <div style="margin-top:5px">
                <!--<button class="btn btn-danger" (click)="reloadBranches()">Clear</button>-->
            </div>
            <div *ngFor="let v of filteredVariables" class="checkbox">
                <label>
                    <input type="checkbox" (click)="excludeVariable($event)" [value]="v.id"> {{v.title}}
                </label>
            </div>
        </div>

        <div class="col-md-9" *ngIf="lineChartData.length > 0">
            <nvd3 [options]="options" [data]="lineChartData"></nvd3>
        </div>
    </div>
</div>
