<div class="container-fluid">
    <div class="row">
        <app-header title="Forecast Graphical"></app-header>
    </div>

    <div class="row">
        <div class="form-group">
            <select (change)="selectBranch($event)" class="app-select">
                <option *ngFor="let project of projects" [value]="project.id"> {{project.title}} </option>
            </select>
            <select (change)="selectVariables($event)" class="app-select">
                <option *ngFor="let branch of branches" [value]="branch.id"> {{branch.title}} </option>
            </select>
        </div>
    </div>

    <div class="form-group pull-right" style="margin-right: 20%" *ngIf="lineChartData.length > 0">
        <div style="display: inline-block">
            <label for="">Start Time</label>
            <div class='date inputText' id='startDate'>
                <dp-date-picker
                    [config]="datePickerConfig"
                    [(ngModel)]="userSelectedStartDate"
                    mode="daytime"
                    [theme]="'dp-material dp-main'"></dp-date-picker>
            </div>
        </div>

        <div style="display: inline-block">
            <label for="">End Time</label>
            <div class='date inputText' id='endDate'>
                <dp-date-picker
                    [config]="datePickerConfig"
                    [(ngModel)]="userSelectedEndDate"
                    mode="daytime"
                    [theme]="'dp-material dp-main'"></dp-date-picker>
            </div>
        </div>

        <div style="display: inline-block">
            <button class="btn btn-success" (click)="setNewDates(userSelectedStartDate, userSelectedEndDate)">Save and Refresh</button>
            <button class="btn btn-danger" (click)="reset()">Reset to Default Dates</button>
        </div>
    </div>

    <div class="row" >
        <div class="col-md-3">
            <div class="row">
                <h4>Configuration</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div>Show Variales</div>
                        <div>
                            <label>
                                <input type="checkbox" (click)="toggleBreakdownVariables($event)" checked> Breakdown
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox" (click)="toggleDiscreteVariables($event)" checked> Discrete
                            </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div>Show Lines for</div>
                        <div>
                            <label>
                                <input type="checkbox" (click)="toggleBreakdownLines($event)" checked> Breakdown
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox" (click)="toggleDiscreteLines($event)" checked> Discrete
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <h4>Variables</h4>
                <input type="text" [(ngModel)]="searchName" (keyup)="filterResult($event, 'name')" class="col-md-4" placeholder="variable name">
                <input type="text" [(ngModel)]="searchType" (keyup)="filterResult($event, 'type')" class="col-md-4" placeholder="type">
                <input type="text" [(ngModel)]="searchOwner" (keyup)="filterResult($event, 'owner')" class="col-md-4" placeholder="owner">
            </div>

            <div style="margin-top:5px">
                <!--<button class="btn btn-danger" (click)="reloadBranches()">Clear</button>-->
            </div>
            <div *ngFor="let v of filteredVariables" class="checkbox">
                <label>
                    <input type="checkbox" (click)="excludeVariable($event)" [value]="v.id"> {{v.title}}
                </label>
            </div>
        </div>

        <div class="col-md-9" *ngIf="lineChartData.length > 0">
            <nvd3 [options]="options" [data]="lineChartData"></nvd3>
        </div>
    </div>
</div>
