<div class="tool-set">
    <div class="btn-group" role="group" aria-label="templates" *ngIf="showModifyButtons==true">
        <button [disabled]="sTemplateDisabled" (click)="drawStaticTemplate()" type="button" class="btn btn-default">ST</button>
        <button [disabled]="siTemplateDisabled" (click)="drawSingleInheritance()" type="button" class="btn btn-default">SI</button>
        <button [disabled]="gmsTemplateDisabled" (click)="drawGenericMicroService()" type="button" class="btn btn-default">GMS</button>
        <button [disabled]="jmsTemplateDisabled" (click)="drawJavaMicroService()" type="button" class="btn btn-default">JMS</button>
        <button [disabled]="ipTemplateDisabled" (click)="drawInputTemplate()" type="button" class="btn btn-default">IP</button>
        <button (click)="drawEc2MicroServiceTemplate()" type="button" class="btn btn-default">POD</button>
        <button (click)="drawEc2ComponentTemplate()" type="button" class="btn btn-default">EC2</button>
    </div>
    <div class="btn-group" role="group" aria-label="shapes" *ngIf="showModifyButtons==true">
        <button [disabled]="circleTemplateDisabled" (click)="drawCircle()" type="button" class="btn btn-default"><img src="assets/images/circle.png" alt=""></button>
        <button [disabled]="diamondTemplateDisabled" (click)="drawDiamond()" type="button" class="btn btn-default"><img src="assets/images/diamond.png" alt=""></button>
        <button [disabled]="triangleTemplateDisabled" (click)="drawTriangle()" type="button" class="btn btn-default"><img src="assets/images/triangle.png" alt=""></button>
        <button [disabled]="squareTemplateDisabled" (click)="drawSquare()" type="button" class="btn btn-default"><img src="assets/images/square.png" alt=""></button>
        <button [disabled]="labelTemplateDisabled" (click)="drawLabel()" type="button" class="btn btn-default"><img src="assets/images/label.png" alt=""></button>
    </div>
    
    <div class="btn-group" role="group" aria-label="shapes">
        <button [disabled]="zoomInDisabled" (click)="zoomIn()" type="button" class="btn btn-default"><img src="assets/images/plus.png" alt=""></button>
        <button [disabled]="zoomOutDisabled" (click)="zoomOut()" type="button" class="btn btn-default"><img src="assets/images/minus.png" alt=""></button>
    </div>

    <div class="btn-group" role="group" aria-label="shapes">
        <button (click)="setartSelectionForGroup()" type="button" class="btn btn-default"><img [src]="pointerDisabled ? 'assets/images/cancel.png' : 'assets/images/pointer.png'" alt=""></button>
        <button [disabled]="groupDisabled" (click)="group()" type="button" class="btn btn-default"><img src="assets/images/group.png" alt=""></button>
    </div>
    <div class="btn-group" role="group" aria-label="shapes">
        <button [disabled]="ungroupDisabled" (click)="ungroup()" type="button" class="btn btn-default"><img src="assets/images/ungroup.png" alt=""></button>
        <button [disabled]="copyGroupDisabled" (click)="copyGroup()" type="button" class="btn btn-default"><img src="assets/images/copy.png" alt=""></button>
        <button [disabled]="deleteGroupDisabled" (click)="deleteGroup()" type="button" class="btn btn-default"><img src="assets/images/delete.png" alt=""></button>
    </div>

    <div class="btn-group pull-right" role="group" aria-label="shapes">
        <button [disabled]="saveDisabled" *ngIf="showModifyButtons==true" (click)="save($event)" type="button" class="btn btn-default"><img src="assets/images/save.png" alt=""></button>
        <button [disabled]="cancelDisabled" (click)="cancel()" type="button" class="btn btn-default"><img src="assets/images/cancel.png" alt=""></button>
        <button [disabled]="verifyDisabled" *ngIf="showModifyButtons==true" (click)="verify($event)" type="button" class="btn btn-default"><img id="verify" src="assets/images/verify.png" alt=""></button>
        <button *ngIf="showModifyButtons==false" (click)="verify()" type="button" class="btn btn-default"><img src="assets/images/edit.png" alt=""></button>
    </div>

    <!--
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownTemplates" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Template
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownTemplates">
            <li><a (click)="drawStaticTemplate()">Staic Tempalte</a></li>
            <li><a (click)="drawSingleInheritance()">Single Inheritance</a></li>
            <li><a (click)="drawGenericMicroService()">Generic Micro Service</a></li>
            <li><a (click)="drawJavaMicroService()">Java Micro Service</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownShapes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Shape
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownShapes">
            <li><a (click)="drawStaticTemplate()">Staic Tempalte</a></li>
            <li><a (click)="drawSingleInheritance()">Single Inheritance</a></li>
            <li><a (click)="drawGenericMicroService()">Generic Micro Service</a></li>
            <li><a (click)="drawJavaMicroService()">Java Micro Service</a></li>
        </ul>
    </div>
    -->
</div>
