.navbar-default .navbar-nav > li > a{
    font-family: Helvetica;
    font-size: 14px;
    text-align: center;
    color: #222;
}

.header-buttons {
    font-family: Helvetica;
    font-size: 17px;
    padding-top: 22px;
}

.title {
    color: white;
}

.logout-button {
    color: white;
}

a.active {
    font-weight: bold;
    border-bottom: 2px solid #0367ae;
}

.navbar-header {
    background-color: #222;
    height: 63px;
}

.navbar-brand img {
    padding-left: 20px;
    width: 100%;
}

.navbar-nav {
    width: 100%;
}

li {
    width: 12.5%;
}

.components {
    padding-left: 5%;
}

